[submodule "bundle/haml"]
	path = pack/default/start/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/indent-object"]
	path = pack/default/start/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/javascript"]
	path = pack/default/start/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/nerdtree"]
	path = pack/default/start/nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = pack/default/start/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "bundle/surround"]
	path = pack/default/start/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/cucumber"]
	path = pack/default/start/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/textile"]
	path = pack/default/start/textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/rails"]
	path = pack/default/start/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git://github.com/taq/vim-rspec.git
[submodule "bundle/markdown"]
	path = pack/default/start/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/align"]
	path = pack/default/start/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/unimpaired"]
	path = pack/default/start/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/endwise"]
	path = pack/default/start/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/coffee-script"]
	path = pack/default/start/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/puppet"]
	path = pack/default/start/puppet
	url = git://github.com/ajf/puppet-vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/molokai"]
	path = pack/default/start/molokai
	url = git://github.com/mrtazz/molokai.vim.git
[submodule "bundle/mustache"]
	path = pack/default/start/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/ack"]
	path = pack/default/start/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "bundle/closetag-vim"]
	path = pack/default/start/closetag-vim
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/ctrlp.vim"]
	path = pack/default/start/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-rspec"]
	path = pack/default/start/vim-rspec
	url = git://github.com/thoughtbot/vim-rspec.git
[submodule "bundle/vim-detailed"]
	path = pack/default/start/vim-detailed
	url = git://github.com/rking/vim-detailed.git
[submodule "bundle/html5.vim"]
	path = pack/default/start/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/vim-glsl"]
	path = pack/default/start/vim-glsl
	url = git://github.com/tikhomirov/vim-glsl.git
[submodule "bundle/vim-swift"]
	path = pack/default/start/vim-swift
	url = git://github.com/toyamarinyon/vim-swift.git
[submodule "bundle/syntastic"]
	path = pack/default/opt/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-go"]
	path = pack/default/start/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "bundle/qmake-syntax-vim"]
	path = pack/default/start/qmake-syntax-vim
	url = git://github.com/artoj/qmake-syntax-vim.git
[submodule "bundle/vim-terraform"]
	path = pack/default/start/vim-terraform
	url = git://github.com/hashivim/vim-terraform.git
[submodule "pack/default/start/deoplete.nvim"]
	path = pack/default/start/deoplete.nvim
	url = git://github.com/Shougo/deoplete.nvim.git
[submodule "pack/default/start/deoplete-go"]
	path = pack/default/start/deoplete-go
	url = git://github.com/zchee/deoplete-go.git
